{% extends 'base.html.twig' %}

{% block title %}Détail d'un stagiaire{% endblock %}

{% block body %}

    <h1>Détail d'un stagiaire</h1>

    <h2>{{ student }}</h2>


    <h3>Détails des sessions</h3>


{% endblock %} 