{% extends 'base.html.twig' %}

{% block title %}Détail d'un centre de formation{% endblock %}

{% block body %}
    <h1>Détail d'un centre de formation</h1>

    <h2>{{ formation }}</h2>


    <h3>Détails des sessions</h3>
{# 
    {% if entreprise.employes | length > 0 %}
    <table class="table .table-striped">
        <thead>
            <tr>
                <th>Employe</th>
            </tr>
        </thead>
        <tbody>
            {% for employe in entreprise.employes %}
               <tr>
                    <td><a href="{{ path('show_employe', {'id':employe.id}) }}">{{ employe }} </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        {% else %}
        <p>Aucun salarié dans cette entreprise</p>
    {% endif %}

{% endblock %} #}