{% extends 'base.html.twig' %}

{% block title %}Détail d'un centre de formation{% endblock %}

{% block body %}
    <h1>Détail d'un centre de formation</h1>

    <h2>{{ formation }}</h2>

 


{% endblock %}