{% extends 'base.html.twig' %}

{% block title %}Détail d'une catégorie{% endblock %}

{% block body %}

    <h1>Détail de la catégorie {{ category }}</h1>

    <div class="lists">
        {% for module in modules %}
            <div class="list">
                <h3> {{ module }}</h3>
            </div>

        {% endfor %}
    </div>
    
{% endblock %}