{% extends 'base.html.twig' %}

{% block title %}Listes des modules{% endblock %}

{% block body %}


    <h1>Listes des modules</h1>

<div class="btn-add">
    <a href="{{ path ('new_module')}}" class="btn btn-success">Ajouter un module</a>
</div>

<div class="lists">
    {% for module in modules %}

    <div class="list">
        <h3>{{ module }}</h3>
        <div class="btn">
            <a class="btn btn-warning" href="{{ path('edit_module', {'id': module.id}) }}">Modifier</a>
            <a class="btn btn-danger" href="{{ path('delete_module', {'id': module.id}) }}">Supprimer</a>
        </div>
    </div>
        
    {% endfor %}
</div>

{% endblock %}
